 /*  Footer Session */
 .social
 {
     background-color: rgb(211, 211, 211);
     padding: 20px;
 }

 .social span
 {
     padding-left: 20px;
 }
 .social-icon
 {
     padding: 10px;
 }
 .social-icon a{
     cursor: pointer;
     text-decoration: none;
     color: grey;
 }
 .footer span
 {
     font-family: 'calibri';
     font-weight: 800;
     color: green;
 }
 .footer label
 {
     font-family: 'calibri';
     font-weight: 800;
     color: red;
 }
